@charset "utf-8";
/* CSS Document */

/*声明*/
html {
	-webkit-text-size-adjust: 100%;  
	-ms-text-size-adjust: 100%;
	height: 100%;
}
html,body{height: 100%;}
body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:14px; color:#333333; font-family: "微软雅黑";line-height:28px; background-color:#fff}
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; } 
textarea { resize:none; }
a { color:#333333; text-decoration:none }
a:hover{ text-decoration:none;}
img{display:block;}    

.clearfix:after{
	content:"";
	visibility:hidden;
	height:0;
	display:block;
	clear:both;
}

/*搜索页头部*/
/*头部开始*/
.header_check{
	height: 85px;
	padding-top: 35px;
}
.logo_check{
	width:476px ;
	height:43px ;
	background:url(../images/logo_check.png) left center no-repeat;
}
.logo_check a{
	display: block;
	width: 100%;
	height: 43px;
}






/*头部开始*/
.header{
	width: 100%;
	height: 80px;
	background-color: #d60006;
}
.sameWidth{
	/*  width: 1200px;*/
	max-width: 1280px;
	/*  width: 100%;*/
	margin: 0 auto;
	overflow: hidden
}
.listWidth{
	padding-top: 20px;
}
.logo{
	width:426px ;
	height:40px ;
	background: url(../images/logo.png) 0 0 no-repeat;
	float: left;
}
.logo a{
	display: block;
	width: 426px;
	height: 40px;
}
.search{
	float: right;
}
.inputkey{
	width:320px ;
	height: 38px;
	background:url(../images/key.png) left center no-repeat;
	display: block;
}
.search_inner{
	width:272px ;
	height: 18px;
	border: none;
	background-color: transparent;
	color: #fff;
	padding:10px 24px 10px 24px;
	background:url(../images/search.png) 280px center no-repeat; 
}
.contentTop{
	height: 60px;
	line-height: 60px;
	width: 100%;
	border-bottom:2px solid #d60006;
}
.listTitle{
	font-size: 20px;
	font-weight: 100;
}



/*footer*/
.footer{
	height: 70px;
	line-height: 70px;
}
.footerContent{
	width: 1200px;
	margin: 0 auto
}
.footerTitle{
	text-align: center;
	font-size: 18px;
}


/*登录页*/
/*登录页*/
.content{
	width: 100%;
	height: 760px;
	background:url(../images/bg.jpg) center top no-repeat;
}
.checkConten{
	padding-top:163px ;
}
.formInfo{
	width: 610px;
	height:351px ;
	background:url(../images/form.png) center top no-repeat;
	margin: 0 auto;
	padding: 6px
}
.title{
	width: 610px;
	height: 80px;
	line-height: 80px;
	background:url(../images/title.png) left top no-repeat;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 2px

}
.formContent{
	padding: 0 65px;
}
.ID,.password{
	width: 448px;
	height: 18px;
	background:url(../images/ID.png) left center no-repeat;
	border: none;
	padding: 16px;
	font-size: 16px;
}
.ID{
	margin-top: 30px;
}
.password{
	margin-top:20px;
}
.check{
	width: 480px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	letter-spacing: 4px;
	border: none;
	color: #fff;
	background:url(../images/button.png) left top no-repeat;
	margin-top: 40px;
	cursor: pointer
}



/*查询页*/
.main-banner{
	width: 100%;
	height: 345px;
}
.main-banner img{
	width: 100%;
	height: 100%
}
.inner-title{ 
	height:50px;
	border-bottom:1px solid #e8e8e8; 
	line-height:50px
}
.inner-title h2{
	border-bottom: 2px solid #ff0000;
	color: #e60012;
	float: left;
	font-size: 18px;
	font-weight: normal;
	height: 48px;
	padding: 0 10px;
}
.inner-title .small-title{
	font-size: 10px
}
.inner-content{
	background-color: #f9f9f9;
	margin-top: 15px;
	min-height: 250px;
	padding: 40px 0;
	overflow: hidden;
}
.number{
	line-height:39px;
	display:inline-block;
	color:#333;
	font-size:16px;
	overflow: hidden;
	margin-top: 66px
}
.word{ 
	line-height:39px; 
	float:left;
}
.sameInput{
	width:398px;
	height:28px ;
	border: none;
	padding:5px 10px ;
	border: 1px solid #bbbbbb;
	font-size: 16px;
}
*+html .sameInput{
	height: 26px;
}
.formInput{
	float: left;
	margin-bottom: 10px;
}
.formInput label{
	font-size: 16px;
	width: 168px;
	text-align: right;
	display: inline-block;

}
label.rightLabel{
	width: 125px;
}
.amountLeft{
	width: 189px;
	height:40px ;
	border: none;
	border: 1px solid #bbb
}
.zhi{
	margin: 0 10px
}
.deadline{
	width: 420px;
	height: 40px;
	border: 1px solid #bbb 
}
.arrivalDateR,.arrivalDateL{
	width: 167px;
	height: 28px;
	padding: 5px 10px;
	border: none;
	border: 1px solid #bbb;
	cursor: pointer;
	background:url(../images/time.png) 155px center no-repeat #fff;
	font-size:16px;
}
*+html .arrivalDateR,.arrivalDateL{
	height: 26px;
}
.checkB{
	display: block;
	text-align: center;
	padding-top: 30px;
	float: left;
	width: 100%;
}
.checkButton{
	width:160px ;
	height:38px ;
	line-height: 38px;
	text-align: center;
	display: inline-block;
	background-color: #e60012;
	border-radius: 3px;
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer

}
select{
	font-size:16px;
}
.noPng{
	background-image:none ;
	cursor: default;
}



/*项目档案信息页*/
.username{
	float: right;
	color: #fff;
	padding-top: 5px;
}
.infoContent{
	background-color: #fff;
	width:1152px;
	padding: 24px;
	margin-top: 20px;
}
table{
	margin-bottom: 10px;
	border-collapse: collapse;
}
.form-title{
	background-color: #f0f0f0;
	height: 40px;

}
.form-title td{
	padding-left: 20px;
	font-size: 16px;
}
.form-content th,.form-content td{
	height: 40px;
	border: 2px solid #fff
}
.form-content th{
	width:128px;
	text-align: right;
	padding-right: 26px;
	font-weight: 100;
	background-color: #f0f0f0;
}
.form-content td{
	width: 401px;
	padding-left: 21px;
	background-color:#f6f6f6 
}
td.changeW{
	width: 252px
}
td.nextW{
	width: 411px
}
.chart{
	padding-top: 10px;
}
.tab{
	overflow: hidden;
}
.tab li{
	float: left;
	height: 40px;
	padding: 0 18px;
	line-height: 40px;
	color: #fff;
	border-radius: 10px 10px 0 0;
	background-color: #999999;
	cursor: pointer;
}
li.active{
	background-color: #d60006
}
.checkDate{
	height: 40px;
	background-color: #f0f0f0;
	line-height: 40px;
	padding-left: 20px
}
.checkTime{
	margin-right: 100px
}
.chartContent{
	border: 1px solid #e4e4e4
}


/*搜索结果*/

.list_inner{
	margin:20px 0;
	background-color: #fff;
	padding-bottom: 15px
}
.listName{
	width: 100%;
	height: 50px;
	background:url(../images/title_bg.jpg) left top repeat-x;
}
.checkTitle{
	height: 58px;
	border-bottom: 2px solid #d60006
}
.titleL{
	font-size: 18px;
	float: left;
	font-weight: 100;
	line-height: 58px;
}
.listName span{
	line-height: 50px;
	font-size: 18px;
}
.productName{
	float: left;
	padding-left: 150px;
}
.fabudate{
	float: left;
	width: 227px;
	text-align: center;
	padding-left: 310px;
}
.listContent_inner{
	border: 1px solid #e8e8e8;
	border-bottom: none;
}
.listContent_inner li{
	height:50px ;
	border-bottom: 1px solid #e8e8e8;
	line-height: 50px;
	background-color: #f7f7f7;
}
.listContent_inner li a{
	display: block;
	overflow: hidden
}
.productT{
	padding-left: 30px;
	font-size: 16px;
	float: left;
	display: block;
	width: 500px;
}
.datefb{
	width: 227px;
	float: left;

	font-size: 16px;
	text-align: center;
}
.progress,.proLine{
	display: block;
	width: 200px;
	float: right;
	padding-right: 30px;
	font-size: 16px;
	text-align: center;
}
.proLine{
	text-align: right;
	position: relative;
}
.lineOne{
	position: absolute;
	top: 20px;
	left: 0px;
	display: block;
	height: 10px;
	width: 160px;
	background-color: #bbb;
	border-radius: 5px;
}
.lineTwo{
	position: absolute;
	top: 20px;
	left: 0px;
	width: 20px;
	display: block;
	height: 10px;
	background-color: #d70006;
	border-radius: 5px;
}
.proLine i{
	font-style: normal;
	font-size: 14px;
}
.fenye{
	display: block;
	width:1185px;
	padding-right: 15px;
	overflow: hidden;
	padding-top: 15px;
}
.fenye ul{
	float: right;
}
.fenye li{
	border: 1px solid #cccccc;
	float: left;
	border-radius: 3px;
	margin-left: 5px
}
.fenye a{
	padding: 0 10px;
	display: block;

}
.fenye a:hover{
	background-color:#e5181e ;
	color: #fff;
}
.aCurrent{
	background-color:#e5181e ;
	color: #fff;
}
/*login_bar页*/
.sameWidth .logo_bar{
	width: 452px;
	height: 56px;
	background: url(../images/logo_bar.png) left center no-repeat;
}
.sameWidth .logo_bar a{
	display: block;
	width: 100%;
	height: 56px;
}
.daohang{
	width: 100%;
	height: 83%;
	background: url(../images/bar_bg.jpg) center top no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.bar_top{
	padding-top: 16%
}
.bar_lists li{
	float: left;
	width: 150px;
	padding: 0px 125px;
}
.bar_lists li .bar{
	display: block;
	width: 100%;
	height: 180px;
	text-align: center;
	font-size: 18px;
}
.bar01{
	background: url(../images/bar01.png) no-repeat top center;
}
.bar02{
	background: url(../images/bar03.png) no-repeat top center;
}
.bar03{
	background: url(../images/bar05.png) no-repeat top center;
}
.bar_lists .btn{
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 32px;
	line-height: 32px;
	border: none;
	margin-top: 20px;
	background-color: #d30918;
	border-radius: 5px;
}
.bar_lists .btn a{
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

/*新导航页*/
.top-bar{
	position: fixed;
	width: 100%;

}
.side-top{
	padding: 10px 30px;
	background-color: #d30918;
}
.side-top-left a{
	display: block;
	width: 288px;
	height: 35px;
	background: url(../images/logo_admin.png);
	background-size: 100% 100%; 
}
.side-top-right .admin{
	height: 35px;
	line-height: 35px;
	background: url(../images/admin.png) left center no-repeat;
	background-size: 25px 25px;
	font-size: 16px;
	color: #fff;
	padding-left: 30px;
}
#wrapper{
	height: 100%;
	overflow-x: hidden;
	overflow: hidden
}
.nav-static-side{
	width: 190px;
	height: 100%;
	position: fixed;
	z-index: 2000;
	margin-top: 55px;
	background-color:#383838;
}
.nav>li>a{
	display: block;
	padding: 10px 20px 10px 20px;
	color:#fff;
	height: 45px;
	margin-top: 20px;
	line-height:25px;
}
.list-group .aaa{
	padding: 0px;
	background-color: #383838;
	border: none;
}


#side-menu .side-tu {
	display: inline-block;
	float: left;
	width: 18px;
	height: 25px;
	background: url(../images/side-page1.png) center no-repeat;
	background-size: 18px 18px;
}
#side-menu .side-page2{
	background: url(../images/side-page2.png) center no-repeat;
	background-size: 18px 18px;
}
#side-menu .side-page3{
	background: url(../images/side-page3.png) center no-repeat;
	background-size: 18px 18px;
}
#side-menu .side-page4{
	background: url(../images/side-page4.png) center no-repeat;
	background-size: 20px 22px;
}
.nav>li>a:hover{
	background-color:#252525
}
.nav>li>a:focus{
	background-color:transparent;
}
#side-menu .sp{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-left: 15px;
	float: left;
	font-size: 16px;
}
.xia-btn{
	display: inline-block;
	width: 14px;
	height: 25px;
	line-height: 25px;
	background: url(../images/you.png) center no-repeat;
	background-size: 8px 14px;
}
.nav>li>.out{
	display: none;
}
.nav>li>in{
	display: block
}
#side-menu .nav-xiabar li{
	padding-left: 50px;
}
#side-menu #nav-select li{
	padding-left: 15px;
}
#side-menu .nav-xiabar li:before{
	content: '';
	width: 6px;
	height: 6px;
	margin-left: 45px;
	background: url(../images/dian.png) center no-repeat;
	position: absolute;
	top: 20px;
	z-index: 2000;
	left: 0px;
}
#side-menu #nav-select li:before{
	margin-left: 15px;
	width: 4px;
	height: 4px;
}
#side-menu .nav-xiabar li:hover{
	background-color:#252525
}
#side-menu #nav-select li a:hover{
	background-color: #383838
}
#page-wrapper{
	height: calc(100% - 50px);
	padding-left:15px;
	position: inherit;
	background-color: #f6f6f6;
	margin: 55px 0 0 190px;
	overflow: hidden;
}
.bar-line{
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #666;
}
.bar-line .font-active{
	color: #d30918
}
#J_iframe{
	margin-bottom: 50px;
}


/*flow页面*/
.flow-top{
	height: 60px;
	line-height: 60px;
	margin-left: 20px;
	border-bottom: 2px solid #bfbfbf;  
}
.flow-top span{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #d00918;  
	font-size: 20px;
	color: #d00918;
}
.flow-theme{
	font-size: 20px;
}
.flow-new{
	color: #666;
	font-size: 16px;
}
.flow-cont ul{
	padding-top:40px;
}
.flow-cont li{
	padding-left: 120px;
	margin-left: 20px;
	position: relative;
}
.flow-cont li:before{
	content: '';
	width: 30px;
	height:30px;
	position: absolute;
	top: 14px;
	left: 45px;
	background: url(../images/flow-d.png) center no-repeat;
	background-size: 30px 30px;
}
.flow-cont li:last-child:before{
	background: url(../images/flow-g.png) center no-repeat;
	background-size: 30px 30px;
}

.flow-cont .line{
	height: 85px;
	margin-left: 80px;
	margin-top: -10px;
	margin-bottom: -10px;
	border-left: 1px solid #d00918
}
.hello-font{
	margin-top: 50px;
	background:-webkit-linear-gradient(top,#d00918,#9d9c9a);
	font-size: 60px;font-weight: bolder;
	-webkit-text-stroke:1px #ff9c00;
	color: transparent;
	line-height: 70px;
	-webkit-background-clip:text;
}



